.row-fluid
  .col-xs-12
    %center
      .header
        = image_tag 'logo.png',alt: 'Eater logo', class: 'logo'
        %span beta

      .content
        %h1.tagline
          Discover awesome food around you

        .loginButton
          - unless user_signed_in?
            = link_to '/users/auth/facebook',class: 'btn btn-primary btn-block' do
              Login with
              %span facebook

          - else
            = link_to 'Dashboard',admin_places_path, class: 'btn btn-info btn-block'
