.row-fluid
  .col-xs-12
    %center
      .header
        = image_tag 'logo.png',alt: 'Eater logo', class: 'logo'
        %span beta

      .content
        %h1.tagline
          Discover awesome food around you

        -#%h1.message
          Access the site from the mobile
