#error_explanation,
.error-explanation {
  min-width: 450px;
  padding: 5px 20px;
  margin-bottom: 15px;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin-bottom: 0;
    font-size: 16px;
    margin: 5px;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
