#heading {
  span.name {
    font-size: 200%;
    font-weight: bold;
  }
  span.short-address {
    font-size: 100%;
  }
  
}

.items-header {
  span.title {
    font-size: 200%;
  }
}

#notes {
  margin: 20px;
  form {
    margin-bottom: 20px;
    .big-inputs {
      input {
        padding: 10px;
        size: 200%;
        font-size: 150%;

        &.item {
          width: 500px;
        }
        &.cold-votes {
          width: 30px;
        }
        &.position {
          width: 50px;
        }
        &.cold-votes{
          width: 50px;
        }

      }
    }
  }

  #item_list {
    .item {
      margin: 5px;
      input {
        padding: 3px;
        width: 300px;
      }
    }
  }


  #category_list {
    .category {
      margin: 5px;
      input.name {
        padding: 3px;
        width: 150px;
      }

      input.position {
        padding: 3px;
        width: 40px;
      }

    }
  }
}

form.even {
  background-color: white;
}

.edit-item {
  padding: 2px;
  input.desc{
    width: 400px;
  }
  input.price {
    width: 40px;
  }
  input.cold_votes{
    width: 40px;
  }
  .progress-spin {
    padding: 2px;
    display: inline;
    background-color: green;
    color: white;
  }
}
