.row-fluid#homePage
  .col-xs-12
    .header
      = image_tag 'logo.png',alt: 'Eater logo ®', class: 'img-responsive logo'
      = bootstrap_flash
    .content
      .tagline
        %p Discover awesome food around you
      .loginButton
        = render "devise/shared/links"
