- if @results.present?
  - @results.each do |result|
    %li{class: "resut", "data-url" => "#{result.url}", "data-type" => "#{result.kind}"}
      %a
        = result.name
        %span.pull-right= result.kind
- else
  %li.result.empty
    Sorry! No results found.
