.preloader span{
  position:absolute;
  width: 15px;
  height: 15px;
  background: #e50000;
  border-radius: 20px;
  animation: loader 2.6s infinite ease-out;
}

.preloader span:nth-child(2){
  left: 20px;
  animation-delay: .2s;
}

.preloader span:nth-child(3){
  left: 40px;
  animation-delay: .4s;
}

.preloader span:nth-child(4){
  left: 60px;
  animation-delay: .6s;
}

.preloader span:nth-child(5){
  left: 80px;
  animation-delay: .8s;
}

@keyframes loader {
  0% {opacity: 0.3;}
  50% {opacity: 1;}
  100% {opacity: 0.3;}
}
