#items {
  margin-left: 10px;
  margin-bottom: 10px;

  .like_it {
    color: green;
    padding: 10px;
  }

  .friend_likes {
    img {
      width: 32px;
      height: 32px;
    }
  }

  #new_item {
    span.flag {
      margin-right: 10px;
    }
  }
}

.edit-item {
  input {
    &.desc {
      width: 300px;
    }
    &.price{
      width: 60px;
    }
    &.cold_votes{
      width: 20px;
    }
  }
}

#categories {
  margin-left: 10px;
}
