#items {
  margin-left: 50px;
  margin-bottom: 10px;

  .like_it {
    color: green;
    padding: 10px;
  }

  .friend_likes {
    img {
      width: 32px;
      height: 32px;
    }
  }

  #new_item {
    span.flag {
      margin-right: 10px;
    }
  }
}

#categories {
  margin-left: 50px;
}
