:javascript
  var PageConfig = {
    localities: #{@localities.to_json}
  }


  $(function() {

    var geo = Object.create(GeoLocation);
    geo.init();

    var compute = Object.create(ComputeLocation);

    var updated_at = $.cookie('_updated_at');

    if(updated_at) {
      compute.updatePlaces();
      $('.btn-loc span').html($.cookie('_locality'));
    } else {
      updateLocationInfo();
      updateAddressInfo();
    }

    function updateLocationInfo() {
      setTimeout(function() {
        if(__geoLoc__.error) {
          compute.manualLocation(
            'Failed: '+ __geoLoc__.error.message + '. Please select your location.'
          );
        } else {
          compute.init(
            new google.maps.Geocoder(),
            geo.result(),
            PageConfig.localities
          );

          compute.start();
        }
      }, 6000);
    }

    function updateAddressInfo() {
      setTimeout(function() {
        if(!__geoLoc__.error && __geoLoc__.position) {
          compute.updateAddress(
            compute.matchLocality(
              compute.results()[1].formatted_address
            )
          );
        }
      }, 7000);
    }

    $('#selectLocation .manual-loc').click(function() {
      $('#selectLocation .form-control').each(function() {
        if($(this).val()) {
          compute.setLocation($(this).val());
          $('#selectLocation').modal('toggle');
        } else {
          $(this).addClass('has-error');
        }
      });

    });

    $('.update-loc').click(function() {
      $('.btn-loc span').html('<span> Updating your location... <i class="fa fa-spin fa-spinner"></i></span>');
      $('#places .content').html('<div class="center-block"><p>Updating the list based on your location ...</p><i class="fa fa-spin fa-circle-o-notch"></i></div>');
      updateLocationInfo();
      updateAddressInfo();
    });

  });

