%ul.list-group.list
  - places.each do |place|
    %li.list-group-item{place: place.id}
      %h4.name= link_to place.name,place
      %span.address
        - if place.short_address.present?
          %i.fa.fa-map-marker
          = place.short_address
        - else
          %i.fa.fa-map-marker
          Address
