:javascript
  var PageConfig = {
    localities: #{@localities.to_json}
  }

  $(function() {
    var geo = Object.create(GeoLocation);
    var compute = Object.create(ComputeLocation);
    var updated_at = $.cookie('_updated_at');

    if(updated_at) {
      compute.showContent();
      compute.updatePlaces();

      $('.btn-loc span').html($.cookie('_locality_name'));
      $('.results .result span').html('"'+$.cookie('_locality_name')+'"');
    }

    function updateLocationInfo(waitTime) {
      geo.init();

      setTimeout(function() {
        if(__geoLoc__.error) {
          compute.manualLocation(
            'Failed: '+ __geoLoc__.error.message + '. Please select your location.'
          );
        } else {
          compute.init(
            new google.maps.Geocoder(),
            geo.result(),
            PageConfig.localities
          );

          compute.start();
        }
      }, waitTime);
    }

    function updateAddressInfo(waitTime) {
      setTimeout(function() {
        if(!__geoLoc__.error && __geoLoc__.position) {
          compute.updateAddress(
            compute.matchLocality(
              compute.results()[1].formatted_address
            )
          );
        }
      }, waitTime);
    }

    $('#selectLocation .manual-loc').click(function() {
      $('#selectLocation .form-control').each(function() {
        if($(this).val()) {
          var id = $(this).val();
          var locality = PageConfig.localities.filter(function(l){ return l.id==id})[0];
          compute.setLocation(locality);
          $('#selectLocation').modal('toggle');
        } else {
          $(this).addClass('has-error');
        }
      });

    });

    $('.update-loc').click(function() {
      $('.btn-loc span').html('<span> Updating your location... <i class="fa fa-spin fa-spinner"></i></span>');
      $('.content').html('<div class="center-block"><p>Fetching current location</p><div class="preloader">'+ Array(6).join('<span></span>') +'</div></div>');
      updateLocationInfo(7000);
      updateAddressInfo(8000);
    });

    $('.fake-input').click(function() {
      $('.content').toggle();
      var modal = $(this).closest('div').find('.modal')
      $(modal).toggle();
      $(modal).find('.search-input').focus();
    });

    $('button.close').click(function() {
      $(this).parents('.modal').toggle();
      $('.content').toggle();
    });

    $('.results').delegate('.result','click',function() {
      var kind, url,name,id;
      kind = $(this).attr('data-kind');
      url = $(this).attr('data-url');
      id = $(this).attr('data-id');
      name = $(this).html().split('<')[0];

      function toggleSearch() {
        $('.fake-input').html(name);
        $('#searchModal').toggle();
        $('.content').toggle();
      }

      switch (kind) {
      case "Place":
        window.location = url;
        break;
      case "Item":
        toggleSearch();
        compute.updatePlaces(name,'');
        break;
      case "Cuisine":
        toggleSearch();
        compute.updatePlaces('',id);
        break;
      }
    });

    $('.search-input').on('keyup',function() {
      var locality = $.cookie('_locality_name');
      var query = $('.search-input').val();

      $.get(
        '/searches/search',
        {
          search: query,
          locality: locality
        },
        function(data) {
          if(data.length > 0) {
            $('.results').html('');

            if(query.length > 2) {
              $('.results').append(
                '<li class="result" data-url="" data-kind="Item" data-id="">' + query + '<span class="kind">Dish</span></li>'
              );
            }

            for(var i=0; i < data.length; i++) {
              var data_attrs = "data-url='"+ data[i].url + "' data-kind='" + data[i].kind +"' data-id='" + data[i].id + "'";
              $('.results').append(
                "<li class='result' "+ data_attrs +"'>" + data[i].name + "<span class='kind'>" + data[i].kind + "</li>"
              );
            }
          } else {
            $('.results').html(
              '<li class="result">Most liked dish in<span> "' + locality + '"</span></li>' +
              '<li class="result">Most liked restaurants in <span> "' + locality + '"</span></li>'
            );
          }
        }
      );
    });

    $('.filter-params .btn-group .btn').click(function() {
      if ($(this).attr('class') != 'btn btn-default active') {
        $('.content .list').html(
          jQuery.makeArray($('.content .list .list-item')).reverse()
        );
      }
    });

    $('.got-it').click(function() {
      $('.center-block p').html('Fetching current location');
      $('.first-time-user').hide();

      updateLocationInfo(15000);
      updateAddressInfo(20000);
    });

  });

