#searchModal.modal{tabindex: '1'}
  .modal-dialog
    .modal-content
      %button.close{:type => "button"}
        %span.x &times;

      .modal-header
        %center
          %button.btn.btn-default.btn-block.btn-loc{:type => "button"}
            %i.fa.fa-map-marker
            %span

          %input{type: 'text', class: 'form-control search-input',tabindex: 1, placeholder: ' Search for dishes, places, cuisines etc.'}

      .modal-body
        .search-content
          %ul.results
            %li.result
              %a
                Most liked dish in
                %span
            %li.result
              %a
                Most liked restaurant in
                %span
