#searchModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      %button.close{"data-dismiss" => "modal", :type => "button"}
        %span.x{"aria-hidden" => "true"} &times;
        %span.sr-only Close

      .modal-header
        %center
          %button.btn.btn-default.btn-block.btn-loc{:type => "button"}
            %i.fa.fa-map-marker
            %span

          %input{type: 'text', class: 'form-control search-input', placeholder: ' Search for dishes, places, cuisines etc.'}

      .modal-body
        .search-content
          %ul.results
            %li.result
              %a
                Most liked dish in
                %span
            %li.result
              %a
                Most liked restaurant in
                %span
