.row#places_index
  .col-xs-12
    .header
      .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
        .container
          .navbar-header
            %a.navbar-brand{:href => "/"}
              = image_tag 'logo.png',alt: 'SocialEater logo'
            %form{:role => "form"}
              %input.form-control{:placeholder => "Search Restaurants", :type => "text",:id => "search_places",:name => "query"}
      = bootstrap_flash

    .content
      %ul.list-group
        - @places.each do |place|
          %li.list-group-item{place: place.id}
            %h4= link_to place.name, place
            %span
              - if place.short_address.present?
                %i.fa.fa-map-marker
                = place.short_address
              - else
                %i.fa.fa-map-marker
                Address

:javascript
  $('.list-group').delegate('li','click',function() {
    window.location = '/places/'+ $(this).attr('place') ;
  });
