- model_class = Place
%h1=@place.name

#items
  %h3 Items


  - @place.ordered_items.each do |cat_id, items|
    = render :partial => 'category_items', :locals => {:category_name => @place.categories.find(cat_id).name, :items => items}
  - if @place.uncategorized_items.present?
    = render :partial => 'category_items', :locals => {:category_name => 'Others', :items => @place.uncategorized_items}


.form-group
  = link_to 'Back', places_path, :class => 'btn btn-default'
